* {
	margin: 0;
	padding: 0;
}

.container {
	background-image: url("images/backgroundimage.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container h1 {
	color: brown;
	font-size: 5rem;
}

.boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 20px;
	padding-top: 20px;
}

.gamesBox {
	width: 300px;
	border-radius: 10px;
	box-shadow: 7px 8px 5px 0px rgba(0, 0, 0, 0.24);
}

.gamesBox img {
	width: 100%;
}

.subtitle {
	color: rgb(164, 164, 164);
	padding-left: 10px;
}

.gameFor {
	display: flex;
	gap: 20px;
	color: rgb(109, 109, 109);
	padding-top: 10px;
	padding-left: 10px;
}

.price {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 20px 20px;
}

.newPrice {
	font-size: 1.25rem;
}

.priceBefore {
	text-decoration: line-through;
	color: red;
	font-size: 0.875rem;
}

.button {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

button {
	border: none;
	padding: 10px 20px;
	background-color: green;
	border-radius: 10px;
	color: #fff;
}

footer {
	background-color: rgb(168, 168, 168);
	text-align: center;
	margin-top: 50px;
	padding: 5px;
}

@media only screen and (max-width: 640px) {
	.container {
		background-position: left;
	}
	.gamesBox {
		width: 40%;
	}

	.gamesBox h1 {
		font-size: 1.5rem;
	}
}
